body {
  background: linear-gradient(
    45deg,
    rgba(9, 121, 16, 1) 14%,
    rgba(0, 173, 214, 1) 95%
  );
  height: 100vh;
  width: 100vw;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 750px;
  height: 600px;
  margin: auto auto;
}
.textarea {
  width: 600px;
  height: 200px;
  font-family: "Courier New", Courier, monospace;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  color: antiquewhite;
}
